/* colors */
$--cl-primary: #ffffff;
$--cl-secondary: #0064ff;
$--cl-searchBar: #e9ecf7;
$--cl-title: #002763;
$--cl-subtitle: #5f657d;
$--cl-tertiary: #d7dae3;
$--cl-background: #f5f6fa;
$--cl-info: #8a91ac;
$--cl-free: #02d686;
$--cl-danger: #ff8b57;

/* units */
$--pd-sm: 2rem;
$--mg-sm: 2rem;
