@import "../node_modules/bootstrap/scss/bootstrap.scss";
@import "../node_modules/bootstrap/scss/dropdown";
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5% !important;
}
$--cl-primary: #ffffff;
$--cl-secondary: #0064ff;
$--cl-searchBar: #e9ecf7;
$--cl-title: #002763;
$--cl-subtitle: #5f657d;
$--cl-tertiary: #d7dae3;
$--cl-background: #f5f6fa;
$--cl-info: #8a91ac;
$--cl-free: #02d686;
$--cl-danger: #ff8b57;

body {
  background: $--cl-background;
  font-family: "Poppins", sans-serif;
  font-weight: 600;
  min-height: 100vh;
}

.wrapper {
  display: grid;
  grid-template-columns: 15vw 1fr 8rem;
}

.container {
  max-width: 1200px;
  margin: 0 auto;
  padding: 0;
}

.nav {
  background: $--cl-secondary;
  display: flex;
  padding-top: 2.7rem;
  padding-left: 1.7rem;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  position: absolute;
  transform: translate(-100%);
  transition: 0.5s ease-in;
  width: 22.4rem !important;
  min-height: 100vh;
  z-index: 222;
  &__open {
    background-color: $--cl-secondary;
    padding: 1.2rem 0.5rem;
    border-radius: 0 0.5rem 0.5rem 0;
    position: absolute;
    top: 2.3rem;
    right: -1.8rem;
    cursor: pointer;
  }
  &__logo {
    margin-bottom: 6rem;
    margin-left: 1rem;
  }
  &__links {
    list-style: none;
    width: 100%;
    padding-top: 1rem;
    padding-left: 0;
    // z-index: 2;
    &--item {
      display: flex;
      flex-direction: column;
      gap: 3rem;
      text-decoration: none;
      color: $--cl-primary;
      &:hover {
        color: $--cl-primary;
      }

      li {
        display: flex;
        justify-content: flex-start;
        align-items: center;
        gap: 1.8rem;
        margin-bottom: 2rem;
        font-size: 1.3rem;
        opacity: 0.65;
        padding: 1.5rem 0;
        padding-left: 1rem;
        position: relative;
        transition: all 0.3s ease;
        &:hover {
          opacity: 1;
        }

        .notification {
          position: absolute;
          top: -1rem;
          right: 3rem;
          width: 0.5rem;
          height: 0.5rem;
          border-radius: 50%;
          background: $--cl-primary;
        }
        &.active {
          width: 100%;
          height: 100;
          background-color: $--cl-background;
          border-radius: 1.2rem 0 0 1.2rem;
          opacity: 1;
          color: $--cl-title;
        }
      }
    }
  }
}
.open {
  transform: translate(0);
}

.login {
  background-color: $--cl-primary;
  min-height: 100vh;
  transform: translateX(100%);
  transition: 0.5s ease-in;
  position: absolute;
  width: 90px;
  right: 0;
  &__open {
    background-color: $--cl-primary;
    padding: 1.2rem 0.5rem;
    border-radius: 0.5rem 0 0 0.5rem;
    position: absolute;
    top: 2.3rem;
    left: -2.1rem;
    cursor: pointer;
  }
  &__user {
    position: relative;
    display: flex;
    justify-content: center;
    top: 6.5rem;
    img {
      width: 48px;
      height: 48px;
      object-fit: cover;
    }
  }
}
.open {
  transform: translateX(0);
}

.main-content {
  grid-column: 2 /3;
}
.header {
  margin-top: 2.5rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
  gap: 1rem;
  &__search-bar {
    width: calc(min(50%, 35rem));
    height: 4rem;
    position: relative;
    background: $--cl-searchBar;
    border-radius: 8px;
    display: flex;
    align-items: center;
    input {
      border: 0 !important;
      width: 100%;
      height: 100% !important;
      padding-left: 4.3rem;
      background: transparent;
      outline: 0 !important;
      &::placeholder {
        position: relative;
        top: 0.3rem;
        font-size: 1.3rem;
        color: $--cl-info;
      }
    }
    img {
      position: absolute;
      top: 1rem;
      left: 1.3rem;
    }
  }
  &__users {
    &--dropdown {
      .dropdown__btn {
        width: 18.2rem;
        border: 1px solid $--cl-tertiary;
        display: flex;
        align-items: center;
        justify-content: space-between;
        border-radius: 8px;
        font-size: 1.3rem;
        color: $--cl-info;
      }
      .dropdown-toggle::after {
        content: url("../images/icons/icon-arrow-down.svg") !important;
        border: 0 !important;
        margin: 0 !important;
      }
    }
  }
}
.main {
  margin-top: 2rem;
  &__title {
    color: $--cl-title;
    margin: 0;
    padding: 3.5rem 0;
    padding-bottom: 2.5rem;
  }
  &__dropdowns {
    background-color: $--cl-primary;
    border-radius: 12px;
    display: flex;
    justify-content: space-between;
    padding: 1.2rem;
    align-items: center;
    flex-wrap: wrap;
    gap: 1.2rem;
    &--text,
    &--icon {
      .dropdown__btn {
        background-color: $--cl-primary;
        display: flex;
        align-items: center;
        justify-content: space-between;
        outline: 0 !important;
        border: 1px solid $--cl-tertiary !important;
        border-radius: 0.8rem;
        color: $--cl-title;
        font-weight: 500;
        font-size: 1.3rem;
        width: 20rem;
        height: 3.6rem;
        line-height: 2rem;
        padding: 0 1.8rem !important;
        &:focus {
          box-shadow: none;
        }
      }
      .dropdown-toggle::after {
        content: url("../images/icons/icon-arrow-down.svg") !important;
        border: 0 !important;
        margin: 0 !important;
      }
    }
    &--text {
      display: flex;
      gap: 1rem;
      flex-wrap: wrap;
    }
    &--icon {
      .dropdown__btn {
        width: 9.6rem !important;
      }
    }
  }
  &__num {
    font-size: 1.5rem;
    color: $--cl-subtitle;
    margin-top: 2.5rem;
    span {
      display: block;
    }
  }
  // cards
  &__cards {
    margin-top: 1.5rem;
    display: grid;
    // grid-template-columns: repeate(3, 1fr);
    grid-template-columns: repeat(auto-fill, minmax(30rem, 1fr));
    grid-template-rows: 1fr;
    grid-auto-flow: row dense;
    grid-gap: 2rem;
    // align-items: center;
    .card {
      padding: 1.6rem;
      border-radius: 1.2rem;
      border: 0 !important;
      text-align: center;
      max-width: 38.4rem;

      &__img {
        position: relative;
        max-width: 35.2rem;
        width: 100%;

        &--label {
          position: absolute;
          top: 0.8rem;
          left: 0.8rem;
          span {
            display: inline-block;
            color: $--cl-primary;
            font-size: 1.2rem;
            padding: 0.2em 0.7em;
            font-weight: 400;
            border-radius: 4px !important;
          }
          .free {
            background-color: $--cl-free;
          }
          .danger {
            background-color: $--cl-danger;
          }
        }
        img {
          width: 100%;
          height: 16.7rem;
          object-fit: cover;
          border-radius: 6px;
        }
      }
      &__title {
        padding-top: 2rem;
        color: $--cl-title;
        padding-bottom: 0.5rem;
      }
      &__subtitle {
        color: $--cl-info;
        font-size: 1.3rem;
        line-height: 1rem;
        font-weight: 400;
      }
      &__info {
        display: flex;
        align-items: center;
        padding: 3rem 0;
        padding-bottom: 2rem;
        div {
          padding: 0 2rem;
          border-right: 1px solid $--cl-tertiary !important;
          &:nth-child(3) {
            border: 0 !important;
          }
          &:nth-child(2) {
            border: 0;
            padding: 0 2.5rem;
          }
          &:nth-child(1) {
            border: 0;
            padding-right: 0 1rem;
          }
          h4 {
            color: $--cl-title;
            font-size: 1.5rem;
          }
          span {
            font-size: 1.2rem;
            color: $--cl-info;
            font-weight: 400;
          }
        }
      }
    }
  }
}

@media screen and(min-width: 1700px) {
  .container {
    max-width: 1600px;
  }
}
@media screen and(max-width: 500px) {
  .wrapper {
    grid-template-columns: 5vw 1fr 5vw;
  }
}
