@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600&display=swap");

html {
  font-size: 62.5% !important;
}
h1 {
  color: $--cl-title;
  font-size: 2.4rem;
}
h3 {
  color: $--cl-title;
  font-size: 1.8rem;
}
